<ion-card>
  <ion-card-header>
    <ion-card-title>{{ carona?.name }} </ion-card-title>
    <ion-card-subtitle>setor: {{ carona?.setor }}</ion-card-subtitle>
    <a href="javascript:void(0);" (click)="abrirMapa(carona?.lat!, carona?.long!)">
      <ion-icon class="mapa-card" name="location-outline"></ion-icon>
    </a>
  </ion-card-header>

  <ion-card-content>
    <div>{{ carona?.vagasRestantes }} vagas restantes</div>
    <div>Saída de {{ carona?.cidade }}</div>
  </ion-card-content>

  <ion-button fill="clear" *ngIf="carona" (click)="abrirWhatsApp(carona.phone)"
    >Conversar</ion-button
  >
  <ion-button
    fill="clear"
    *ngIf="carona"
    (click)="showInterest(carona.id)"
    [disabled]="!carona.vagasRestantes"
    >Tenho interesse</ion-button
  >
</ion-card>
