<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="login()">Login</ion-button>

      <ion-item lines="none" text-center>
        <ion-label>
          <a href="#">Esqueci minha senha</a>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
